---
import { BackgroundPicture } from "astro-imagetools/components";

import HeroContent from "@components/hero/HeroContent.astro";

const {
  title,
  thumbnail,
  hero_buttons,
  intro,
  tag,
  filter,
  filters,
  filter_type,
  style,
  pubDate,
  base_url,
} = Astro.props;

const { slug } = Astro.params;
---

<div
  class={`hero relative overflow-hidden nebulix-parallax ${
    style.hero_surface || "surface-dark"
  } ${style.hero_class || ""}`}
  transition:name={`hero_${slug || Math.random()}`}
  id="header"
>
  {
    thumbnail && (
      <div class="media w-full">
        <BackgroundPicture
          attributes={{
            picture: {
              class: "h-auto",
              style: `opacity: ${style.hero_image_opacity || 0.7}`,
            },
          }}
          src={thumbnail}
        >
          <HeroContent
            {title}
            {hero_buttons}
            {pubDate}
            {base_url}
            {intro}
            {tag}
            {filter}
            {filters}
            {filter_type}
          />
        </BackgroundPicture>
      </div>
    )
  }
</div>

<style>
  .hero-no {
    @screen sm {
      min-height: calc(100svh - 4rem);
    }
  }
  .media-no {
    @screen sm {
      max-height: calc(100svh - 4rem);
    }
  }
</style>
