---
import FormattedDate from "../FormattedDate.astro";
import ItemFilter from "../navigation/ItemFilter.astro";
import { Picture } from "astro-imagetools/components";
import ProductPrice from "@components/shop/ProductPrice.astro";

const { content, base_url, animate } = Astro.props;
const animation = `hero_${animate ? content.slug : Math.random()}`;
const cardAnimation = `card_${animate ? content.slug : Math.random()}`;
---

<a
  href={`/${base_url}/${content.slug}/`}
  transition:name={`${cardAnimation}`}
  class="relative z-10 gap-8 px-5 py-4 rounded-md blog-row fade-up surface-overlay-hover group md:p-4"
>
  <div class="opacity-100 blog-excerpt group-hover:opacity-100">
    {
      content.data.pubDate && (
        <span class="text-xs text-overline">
          <FormattedDate date={content.data.pubDate} />
        </span>
      )
    }
    <h2 class="font-bold subtitle balance">
      {content.data.title}
    </h2>
    {
      content.data.intro && (
        <p class="py-1 balance line-clamp-3">{content.data.intro}</p>
      )
    }
    {
      content.data.price && (
        <ProductPrice
          price={content.data.price}
          offer_price={content.data.offer_price}
          in_stock={content.data.in_stock}
        />
      )
    }

    {
      content.data.tag && !content.data.price && (
        <ItemFilter filters={content.data.tag} className="mt-2" {base_url} />
      )
    }
  </div>
  <div
    class="w-20 h-20 overflow-hidden rounded-md blog-card-small shrink-0 grow-0"
    transition:name={`${animation}`}
  >
    {
      content.data.thumbnail && (
        <Picture
          attributes={{
            picture: {
              class: "z-0 w-20",
            },
          }}
          position="attention"
          src={content.data.thumbnail}
          width={100}
          height={100}
          ar={1}
          alt={content.data.title}
          layout="fullWidth"
        />
      )
    }
  </div>
</a>

<style>
  .blog-excerpt {
    /* max-width: calc(100% - 7rem); */
  }

  .blog-row {
    /* max-width: 45ch; */

    display: grid;
    grid-template-columns: 1fr auto;
  }
</style>
