---
import NavMobile from "@components/navigation/NavMobile.vue";
import { Icon } from "astro-icon";
import PageFind from "@components/common/PageFind.astro";
import CartButton from "@components/shop/CartButton.vue";
import ColorSwitch from "@components/common/ColorSwitch.vue";
import { t } from "@util/translate";

const { menu, title, social } = Astro.props;
const currentPath = Astro.url.pathname.split("/")[1];

const isActive = (href) => {
  if (currentPath === "" && href == "/") return true;
  if (currentPath !== "" && href.startsWith(`/${currentPath}`)) return true;
};
---

<header class="sticky top-0 z-50 surface-menu nav" transition:name="nav">
  <nav class="flex items-stretch gap-6 container-xl flex-nowrap">
    <a
      href="/"
      aria-label={title}
      class="grid py-3 place-items-center text-primary"
      ><Icon name="logo" class="h-6" /></a
    >
    {
      menu && (
        <ul class="relative hidden pl-4 tracking-wide uppercase nav-underline nav-links flex-nowrap md:flex ">
          {menu.map((link) => (
            <li class={`${isActive(link.href) ? "active font-semibold" : ""}`}>
              <a href={link.href} class={`block py-3`}>
                {link.label}
              </a>
            </li>
          ))}
        </ul>
      )
    }

    {
      (
        <ul class="relative flex justify-end pl-4 ml-auto -mr-4 uppercase nav-underline flex-nowrap md:mr-0">
          <li>
            <CartButton
              label={t("cart")}
              client:idle
              transition:persist
              transition:name="cart"
            >
              <Icon name="shopping-cart" class="w-6 h-6" />
            </CartButton>
          </li>
          <li>
            <PageFind />
          </li>

          {social &&
            social.slice(0, 3).map((link) => (
              <li class="hidden md:block">
                <a
                  href={link.href}
                  class="grid h-full place-items-center"
                  target="_blank"
                  aria-label={link.label}
                >
                  <Icon name={link.icon} class="w-6" />
                </a>
              </li>
            ))}

          <li>
            <ColorSwitch client:idle />
          </li>

          <li class="md:hidden">
            <NavMobile
              client:idle
              translations={{ menu: t("menu"), close: t("close") }}
            >
              <Icon name="menu-solid" class="w-10 h-10" slot="menu" />

              <Icon name="close" class="w-10 h-10" slot="close" />
              <Icon name="logo" class="w-full" slot="logo" />
              <ul
                class="w-full mt-3 text-center mobile-links nav-links"
                slot="links"
              >
                {menu.map((link, index) => (
                  <li
                    style={`--animation-delay: ${(index + 1) * 100}ms`}
                    class={`title-md inner w-full border-2 border-transparent transition-all duration-1000 hover:border-current  ${
                      isActive(link.href)
                        ? "active font-semibold text-primary"
                        : ""
                    }`}
                  >
                    <a href={link.href} class={`block py-3`}>
                      {link.label}
                    </a>
                  </li>
                ))}
              </ul>

              <ul
                class="flex flex-wrap justify-center w-full gap-2 py-4 relatives"
                slot="social"
              >
                {social.map((link, index) => (
                  <li
                    class="inner"
                    style={`--animation-delay: ${(index + 1) * 100}ms`}
                  >
                    <a
                      href={link.href}
                      class="grid h-full place-items-center "
                      target="_blank"
                      aria-label={link.label}
                    >
                      <Icon name={link.icon} class="w-8 h-8" />
                    </a>
                  </li>
                ))}
              </ul>
            </NavMobile>
          </li>
        </ul>
      )
    }
  </nav>
</header>
<style>
  .nav {
    @apply transition-transform duration-500;
    ul {
      --_gap: 1rem;
    }
    .nav-underline li:not(ul li ul li) {
      @apply relative overflow-hidden;
      padding: calc(var(--_gap) / 2);
      min-inline-size: 1.3rem;

      &::after {
        @apply absolute rounded-full bg-primary;
        content: "";
        inset-inline: 0;
        inset-block-end: 0;
        block-size: 5px;

        translate: var(--_translate, 0);
        scale: var(--_scale, 0) 1;
        transition:
          scale 100ms var(--_scale-delay, 0ms),
          translate 200ms,
          color 200ms;
      }
      &:hover ~ li {
        --_translate: -100%;
        --_scale-delay: 200ms;
      }
    }
    &:hover li {
      --_translate: 100%;
      --_scale-delay: 200ms;
    }

    li:hover {
      --_scale: 1;
      --_translate: 0;
      --_scale-delay: 0ms;
      @apply text-primary;
    }
  }
</style>
